extend base
block content    
    main.main
    section.section__about.bk-clr-primarylt.bottom-margin
        div
            .container
                .section__header__container
                    svg.section__header-icon.icon-24px
                        use(href='assets/icons.svg#icon-person-bounding-box')
                    h2.section__header
                    | Profile Picture
                form.form.form-picture-layout.form-user-photo
                    .form__group.form__photo-upload
                        .profile__img-container
                            if user && user.photo === 'default'
                                svg.photo__default-icon
                                    use(href='../assets/icons.svg#icon-person-circle')
                            else        
                                img.form__user-photo(src=`assets/users/${user.photo}`, alt='User photo')
                        input.form__upload(type='file' ,accept='image/*', id='photo' ,name='photo')
                        label(for='photo') Upload New Image
                    .form__group
                        button.sign__btn--up Save settings

    section.section__about.bk-clr-primarylt.bottom-margin
        div
            .container
                .section__header__container
                    svg.section__header-icon.icon-24px
                        use(href='../assets/icons.svg#icon-person-fill-lock')
                    h2.section__header
                        | Change your password
                form.form.form-user-password
                    .form__group
                        label.form__label(for='currentpassword') Current Password
                        input#currentpassword.form__input(type='password' minlength='8' placeholder='••••••••' required='')
                    .form__group
                        label.form__label(for='newpassword') New Password
                        input#newpassword.form__input(type='password' minlength='8' placeholder='••••••••' required='')
                    .form__group
                        label.form__label(for='confirmnewpassword')  Confirm  New Password
                        input#confirmnewpassword.form__input(type='password' placeholder='••••••••' required='' minlength='8')
                    .form__group
                        button.sign__btn--up.btn--save-password Save password
    section.section__about.bk-clr-primarylt.bottom-margin
        .container.portfolio-container
            .section__header__container
                svg.section__header-icon.icon-24px
                    use(href='../assets/icons.svg#icon-person-fill')
                h2.section__header
                | Account information
            .edit-portfolio
                form.form.form-user-data
                    .form__group
                        label.form__label(for='name')  Name
                        if user.name
                            input#name.form__input(type='name',value=user.name)
                        else
                            input#name.form__input(type='name')
                    .form__group
                        label.form__label(for='engineeringbranch') Engineering Branch
                        select#engineeringbranch.form__input(type='engineeringbranch')
                            each branch in ['Software Engineering','Computer Engineering', 'Electrical Engineering','Civil Engineering','Mechanical Engineering','Chemical Engineering','Materials Engineering','Environmental Engineering','Petroleum Engineering']
                                option(value=branch, selected=user.EngineeringBranch === branch)= branch
                    .form__group
                        label.form__label(for='university') University
                        if user.University
                            input#university.form__input(type='university',value=user.University)
                        else 
                            input#university.form__input(type='university')
                    .form__group
                        label.form__label(for='About') About
                        if user.about
                            textarea#about.form__input(maxlength='2600' type='about' cols='30' rows='10' value=user.about)
                        else
                            textarea#about.form__input(maxlength='2600' type='about' cols='30' rows='10')
                    .form__group
                        label.form__label(for='github') Github Account
                        if user.githubAccount  
                            input#github.form__input(type='github' value=user.githubAccount)
                        else
                            input#github.form__input(type='github' )
                    .form__group
                        label.form__label(for='xaccount') X Account
                        if user.xAccount
                            input#xaccount.form__input(type='xaccount' value=user.xAccount)
                        else
                            input#xaccount.form__input(type='xaccount' placeholder='https://twitter.com')
                    .form__group
                        label.form__label(for='location') Location
                        if user.location
                            input#location.form__input(type='location' value=user.location)
                        else
                            input#location.form__input(type='location' placeholder='Baghdad,Iraq')
                    .form__group
                        label.form__label(for='yearsofexperience') Years of Experience
                        select#yearsofexperience.form__input(type='yearsofexperience')
                            each option in ['Entry-Level', '+2 years', '+5 years', '+10 years']
                                option(value=option, selected=user.yearsOfExperienceOutput === option)= option
                    .form__group
                        label.form__label(for='availability') Availability
                        if user.availability
                            input#availability.form__input(type='availability' value=user.availability)
                        else
                            input#availability.form__input(type='availability' placeholder='Full time (50hrs/wk)')
                    .form__group
                        label.form__label(for='skills') Skills
                            small (add more options by holding Ctrl/Cmd)
                        .custom-dropdown
                            select#skills.form__input.overflow-container(type='skills',multiple, size = '4')
                                each skill in ['Project Management', 'Adaptability', 'Customer Focus', 'Decision-Making', 'Continuous Learning', 'Leadership', 'Creativity', 'Presentation Skills', 'Safety Awareness', 'Other']
                                    option(value=skill, selected=user.skills.includes(skill))= skill
                    .form__group
                        label.form__label(for='languages') Languages
                        if user.languages.length > 1
                            input#languages.form__input(type='languages' value=user.languages)
                        else
                            input#languages.form__input(type='languages' placeholder='English,Spanish,French')
                    .btn-container
                        button.btn-cancel(type='button')
                        a(href='portfolio.html') Cancel
                        button.sign__btn--up(type='submit') Save Settings
                form.form.form-user-education.education(action='')
                    .subform__header-container
                        h3 Education
                        button.add-experience.education(type='button')
                            svg.subform__header-icon.icon-24px
                                use(href='../assets/icons.svg#icon-plus-lg')
                    each education in user.education
                        .margin-left.experience-container
                            .form__group
                                label.form__label(for='educationtitle') Education Title
                                select#educationtitle.form__input(type='educationtitle')
                                    each option in ["Bachelor's Degree", "Master's Degree", "Doctor Degree", "Industry-Specific Training", "Self-taught", "Other"]
                                        option(value=option, selected=education.educationTitle === option)= option
                            .form__group
                                label.form__label(for='educationplace') Education Place
                                if education.educationPlace
                                    input#educationplace.form__input(type='educationplace' value=education.educationPlace)
                                else 
                                    input#educationplace.form__input(type='educationplace' placeholder='David Elementary School')
                            .form__group
                                label.form__label(for='educationdescription') Education Description
                                if education.educationDescription
                                    input#educationdescription.form__input(type='educationdescription' value=education.educationDescription)
                                else 
                                    input#educationdescription.form__input(type='educationdescription')
                            .form__group
                                label.form__label(for='educationyears') Education Years
                                if education.educationYears
                                    input#educationyears.form__input(type='educationyears' value=`${education.startYear} - ${education.endYear}`)
                                else
                                    input#educationyears.form__input(type='educationyears' placeholder='e.g 2016 - 2017')
                            .remove-experience-container
                                h4 Remove Education
                    .btn-container
                        button.btn-cancel(type='button')
                        a(href='portfolio.html') Cancel
                        button.sign__btn--up(type='submit') Save Settings
                form.form.form-user-work.work(action='')
                    .subform__header-container
                        h3 Work Experience
                        button.add-experience.work(type='button')
                            svg.subform__header-icon.icon-24px
                                use(href='../assets/icons.svg#icon-plus-lg')
                    each work in user.workExperience
                        .margin-left.experience-container.workexperience
                            .form__group
                                label.form__label(for='worktitle') work Title
                                if work.workTitle
                                    input#worktitle.form__input(type='worktitle' value=work.workTitle)
                                else
                                    input#worktitle.form__input(type='worktitle' placeholder='Senior Developer')
                            .form__group
                                label.form__label(for='workplace') Work Place
                                if work.workPlace
                                    input#workplace.form__input(type='workplace' value=work.workPlace)
                                else
                                    input#workplace.form__input(type='workplace' placeholder='e.g Asiacell Telecoms')
                            .form__group
                                label.form__label(for='workdescription') Work Description
                                if work.workDescription
                                    input#workdescription.form__input(type='workdescription' value=work.workDescription)
                                else
                                    input#workdescription.form__input(type='workdescription')
                            .form__group
                                label.form__label(for='workyears') Work Years
                                if work.workYears
                                    input#workyears.form__input(type='workyears' value=`${work.startYear} - ${work.endYear}`)
                                else
                                    input#workyears.form__input(type='workyears' placeholder='e.g 2020 - present')
                            .remove-experience-container
                                h4 Remove Work Experience
                    .btn-container
                        button.btn-cancel(type='button')
                        a(href='portfolio.html') Cancel
                        button.sign__btn--up(type='submit') Save Settings
                form.form.form-user-projects.projects(action='')
                    .subform__header-container
                        h3 Projects
                        button.add-experience.projects(type='button')
                            svg.subform__header-icon.icon-24px
                                use(href='../assets/icons.svg#icon-plus-lg')
                    each project in user.projects
                        .margin-left.project-container.experience-container
                            div.project__input-container
                                div.project__input-group
                                    .form__group
                                        label.form__label(for='projectname') Project Name
                                        input#projectname.form__input(type='text', value=project.name, placeholder='e.g weatherAPI')
                                    .form__group
                                        label.form__label(for='projectlink') Project Link
                                        input#projectlink.form__input(type='text', value=project.link, placeholder='https://wethAPI.com')
                            div        
                              button.add-project.projects.btn(type='button') Add More
                            .remove-experience-container
                                h4 Remove Projects
                    .btn-container
                        button.btn-cancel(type='button')
                        a(href='portfolio.html') Cancel
                        button.sign__btn--up(type='submit') Save Settings
            
                